/* INITIALIZATION */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input:focus,
input:focus-visible {
	outline: none;
}

.green {
	border-bottom: 2px solid greenyellow !important;
}

.red {
	border-bottom: 2px solid red !important;
}

/* STYLE */
.container {
	display: grid;
	place-content: center;
	min-height: 100vh;
	background: linear-gradient(to right, #8f94fb, #4e54c8);
}

#form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.email_input {
	position: relative;
	width: 400px;
}

.prompt {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 20px;
	color: #fff;
}

.animation {
	animation: moveUp 0.5s ease forwards;
}

.email {
	display: inline-block;
	width: 300px;
	height: 30px;
	color: white;
	font-size: 20px;
	border: 0px transparent;
	border-bottom: 2px solid #fff;
	background: transparent;

	transition: all 0.5s ease;
}

.email:focus,
.email:focus-visible {
	background: transparent;
	border-bottom: 2px solid #0ff;
}

@keyframes moveUp {
	from {
		top: 0px;
		font-size: 20px;
	}
	to {
		top: -20px;
		font-size: 12px;
		color: #0ff;
	}
}

.submit {
	color: #0ff;
	background: transparent;
	border: 2px solid #0ff;
	border-radius: 6px;
	color: white;
	padding: 16px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;

	margin-top: 20px;
}

.submit:hover {
	background-color: #0ff;
	color: white;
}

.UID {
	color: #0ff;
	background: transparent;
	border-bottom: 2px solid #0ff;
	color: white;
	padding-inline: 16px;
	padding-block-start: 16px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
}

/* BUTTON SHAKE ANIMATION */
/* @keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}
	20%,
	80% {
		transform: translate3d(+2px, 0, 0);
	}
	30%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}
	40%,
	60% {
		transform: translate3d(+4px, 0, 0);
	}
	50% {
		transform: translate3d(-4px, 0, 0);
	}
} */
